footer.footer
  .footer__container.footer__container--top
    .footer__section.footer__section--logo
      a(href="/")
        img(src="img/logo-symbol.png")
    .footer__section.footer__section--sitemap
      h5 Robert-Laws.com
      p
        a(href="#") Projects
      p
        a(href="#") Blog
      p
        a(href="#") About Me
      p
        a(href="#") Resume
      p
        a(href="#") Contact
    .footer__section.footer__section--social-media
      a(href="#")
        i.fab.fa-github
      a(href="#")
        i.fab.fa-twitter
      a(href="#")
        i.fab.fa-linkedin-in
      a(href="#")
        i.fab.fa-behance
      a(href="#")
        i.fab.fa-pinterest
      a(href="#")
        i.fab.fa-slack
    .footer__section.footer__section--placeholder
  .footer__container.footer__container--bottom
    p © Copyright 2018. All rights reserved. Robert Laws


  script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
  script(src="scripts/app.js")