header.website-header
  span#navbar-toggle
    i.fas.fa-bars
  .website-header__logo
    a(href="/")
      img(src="img/logo-text.png")
  nav.website-header__navigation#main-nav
    a(href="projects.html").true-link Portfolio
    a(href="blog.html").true-link Blog
    a(href="about.html").true-link About Me
    a(href="contact.html").true-link Contact