extends layouts/layout-default.pug

block content
  h1 Website Home Page
  h2 Hello there...
  p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio provident in ipsam explicabo? Veritatis dicta eius omnis illo quaerat eos! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione delectus molestias labore veritatis voluptates autem, sapiente, perspiciatis facere quam deserunt, culpa pariatur libero corrupti accusamus? Culpa, voluptates. Necessitatibus qui aperiam voluptates sapiente provident? Ut ea a minima minus facere nam.